{% extends 'base.html'%}
{% block title %}Contactanos {% endblock %}
{% block content %}
<br>
{% if info_enviado %}
	Gracias por enviar un comentario, nos pondremos en contacto contigo.
	<br>
	La informacion recibida fue la siguiente<br>
	<p>Email utilizado: {{email}}</p>
	<p> Titulo: {{titulo}}</p>
	<p> Texto Citado: </p><br><br> <h3>{{texto}}<h3>
{% else %}
	<form action="." method="POST">
		{% csrf_token %}
		{{form.as_p}}
	<button class="btn btn-primary" type="submit">Enviar Comentario</a>
	</form>
{% endif %}
{% endblock %}
