{% extends 'base.html' %}
{% block title %} Agregar Producto {% endblock %}
{% block content %}
<div class="row">
<div class="span6">
	<form action="." method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit" class="btn btn-small btn-primary">Guardar</button>
		<button type="reset" class="btn btn-small btn-primary">Limpiar</button>
	</form>
	<br>
	<a href="/productos/page/1/">Regresar a la lista de Productos </a>
</div>
<div class="span6">
	<img src="/media/{{ producto.imagen }}"/>
</div>
</div>
{% endblock %}