<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %} Titulo Base {% endblock %}</title>
	{% block css %}<link rel="stylesheet" href="/media/css/estilo.css">{% endblock %}
</head>
<body>
<header>
	<img src="/media/images/django.gif"/>
	<h1>Proyecto Demo (Venta de Productos ) </h1>
	<nav>
		<a href="{% url vista_principal %}">Inicio</a>
		<a href="{% url vista_productos %}">Productos</a>
		<a href="{% url vista_contacto %}">Contacto</a>
		<a href="{% url vista_about %}">Acerca de ...</a>
	</nav>
</header>
<section>
	{% block content %}
	{% endblock %}
</section>
</body>
</html>
